.cards {
    .row {
        row-gap: 1.5rem;
    }
    &__card {
        display: grid;
        grid-template-rows: auto auto 1fr auto; /* Image, title, content (flexible), CTA */
        gap: 0.5rem;
    }
    &__image {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }
    div > p {
        margin-bottom: 0;
    }
    &__cta {
        align-self: end; /* Push to bottom */
        justify-self: end;
    }
}