.faq_block {
  .faq__question {
    font-family: var(--ff-headings);
    font-size: var(--fs-500);
    margin-bottom: 0.5rem;
  }
  .faq__answer {
    margin-bottom: 1rem;
    border-bottom: 1px solid hsla(0deg, 0%, 0%, 0.1);
  }
  .accordion-item:last-child .faq__answer,
  .faq_item:last-child .faq__answer {
    border-bottom: none;
  }
}
