.hero {
  &__bg {
    height: 350px;
    @media (min-width: 768px) {
      height: 450px;
    }
    width: 100%;
    object-fit: cover;

    &--left {
      object-position: left;
    }
    &--center {
      object-position: center;
    }
    &--right {
      object-position: right;
    }
  }

  &--short {
    .hero__bg {
      height: 250px;
      @media (min-width: 768px) {
        height: 350px;
      }
    }
  }

  &__inner {
    max-width: 90vw;
  }

  h1 {
    filter: drop-shadow(2px 4px 6px var(--col-primary-400));
  }
  &__title {
    font-size: var(--fs-900);
    padding-bottom: 0.5rem;
    line-height: 1.1;
  }
}
