.partners {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-items: center;
  }
  &__partner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover {
      .partners__image {
        transform: scale(1.05);
      }
    }
  }
  &__image {
    max-height: 100px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}
