.text--right {
    @media (min-width:1200px) {
        max-width: calc(1140px / 2);
    }
    @media (min-width:1400px) {
        max-width: calc(1320px / 2);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.text--left {
    @media (min-width:1200px) {
        max-width: calc(1140px / 2);
    }
    @media (min-width:1400px) {
        max-width: calc(1320px / 2);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    height: 100%;
    padding-inline-end: 1rem;
}

.split {
    .row {
        min-height: 600px;
    }
    &__image {
        padding-inline: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
