.btn {
    border-radius: 0;
}
.btn-primary {
    min-width: 190px;
    background-color: transparent;
    border-color: var(--col-dark);
    color: var(--col-dark);
    font-weight: var(--fw-400);
    font-family: var(--ff-headings);
    letter-spacing: var(--ls-900);
    font-size: var(--fs-300);
    padding-top: 10px;
    text-transform: uppercase;
    transition: background-color var(--transition);
    align-self: flex-start;
    &:hover {
        background-color: var(--col-green-400);
        color: var(--col-dark);
    }

    &.disabled {
        opacity: 0.3;
    }
}
